.cart-section-additional {
  display: flex;
  width: 50%;
  font-weight: 400;
}

.cart-section-additional-one,
.cart-section-additional-two {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.cart-section-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cart-section-header {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.38);
}

.cart-section-info {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.87);
}
